<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.activitiweb.mapper.ActivitiMapper">
    <update id="updateFormData" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            update formdata
            set Control_VALUE_=#{item.Control_VALUE_}
            where PROC_INST_ID_=#{item.PROC_INST_ID_} and Control_ID_=#{item.Control_ID_}
        </foreach>
    </update>


    <select id="getCountProcessDefinition" resultType="java.lang.Integer">
        -- 获取流程定义数
        SELECT COUNT(ID_)
        from ACT_RE_PROCDEF
    </select>

    <select id="getCountRunningProcessInstance" resultType="java.lang.Integer">
        -- 获取正在运行的流程实例数
        SELECT COUNT(DISTINCT PROC_INST_ID_)
        from act_ru_execution
    </select>
    <select id="getCountProcessDefinitionCreateProcessInstance" resultType="java.util.HashMap">
        -- 获取流程定义产生的流程实例数
        SELECT p.NAME_, COUNT(DISTINCT e.PROC_INST_ID_) as PiNUM
        from act_ru_execution AS e
                 RIGHT JOIN ACT_RE_PROCDEF AS p on e.PROC_DEF_ID_ = p.ID_
        WHERE p.NAME_ IS NOT NULL
        GROUP BY p.NAME_
        ORDER BY PiNUM
        LIMIT 0,5
    </select>
    <select id="getHistoricProcessInstance" resultType="java.lang.Integer">
        -- 获取流程实例数
        select count(*)
        from ACT_HI_PROCINST
        where END_TIME_ is not null
    </select>
    <select id="getCountRunningTask" resultType="java.lang.Integer">
        -- 获取正在运行的任务数
        select count(*)
        from ACT_HI_TASKINST
        where END_TIME_ is not NULL
    </select>
    <select id="getCountUsers" resultType="java.lang.Integer">
        -- 获取总任务数
        select count(*)
        from user;
    </select>
    <select id="getCountListTask" resultType="java.util.HashMap">
        -- 	获取每天产生的任务数
        SELECT DATE_FORMAT(START_TIME_, '%Y.%m.%d') days, COUNT(START_TIME_) start, COUNT(END_TIME_) end
        FROM act_hi_taskinst
        GROUP BY days
        ORDER BY days
                DESC
        LIMIT 0,7
    </select>
    <select id="getCountTodayTasks" resultType="java.lang.Integer">
        --  获取今天产生的任务数
        SELECT Count(*)
        FROM act_hi_actinst
        WHERE DATE_FORMAT(START_TIME_, '%Y.%m.%d') = DATE_FORMAT(NOW(), '%Y.%m.%d')
    </select>
    <select id="getCountTodayProcessInstances" resultType="java.lang.Integer">
        -- 	获取今天产生的流程实例数
        SELECT Count(*)
        FROM ACT_HI_PROCINST
        WHERE DATE_FORMAT(START_TIME_, '%Y.%m.%d') = DATE_FORMAT(NOW(), '%Y.%m.%d')
    </select>
    <select id="getCountTodayProcessDefinitionDeployment" resultType="java.lang.Integer">
        -- 	获取今天部署的流程定义数
        SELECT Count(*)
        FROM act_re_deployment
        WHERE DATE_FORMAT(DEPLOY_TIME_, '%Y.%m.%d') = DATE_FORMAT(NOW(), '%Y.%m.%d')
    </select>
    <select id="getHistoryTaskFrom" resultType="java.util.HashMap">
        -- 获取历史任务的表单信息
        SELECT *
        FROM `formdata`
        WHERE PROC_INST_ID_ = #{processInstanceId}
          and FORM_KEY_ = #{formKey}
    </select>
    <select id="getProcessDefinitionId" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT DISTINCT PROC_DEF_ID_
        FROM `act_hi_taskinst`
        WHERE ID_ = '#{taskId}'

    </select>

</mapper>