<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.activitiweb.mapper.FormMapper">


    <select id="getFormDataList" resultType="com.imooc.activitiweb.pojo.FormData">
        -- 获取表单信息列表
        select *
        from formdata
        where formdata.PROC_INST_ID_ = #{pro_ins_id}
    </select>

    <select id="getFormDataByProcessInstanceIdAndTaskDefinitionKey"
            resultType="com.imooc.activitiweb.pojo.FormData">
        -- 根据流程定义key和任务id获取任务表单
        select *
        from formdata
        where PROC_INST_ID_ = #{pro_ins_id}
          and FORM_KEY_ = #{task_definition_key}
    </select>

</mapper>