<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.activitiweb.mapper.UserInfoBeanMapper">
    <insert id="addUser" parameterType="java.util.Map">
        insert into moocactiviti.user (name, username, password, roles, email, is_subscribe)
        values (#{name}, #{username}, #{password}, #{access}, #{email}, #{isEmail})
    </insert>

    <update id="updateUserInfo" parameterType="java.util.Map">
        #更新用户信息
        update moocactiviti.user
        set name=#{name},
            email=#{email},
            username=#{username},
            is_subscribe=#{isEmail},
            roles=#{access}
        where username = #{username}
    </update>
    <update id="resetPassword" parameterType="java.util.Map">
        -- 重置密码
        update moocactiviti.user
        set password=#{password}
        where username = #{username}
    </update>
    <delete id="deleteUser" parameterType="java.lang.String">
        delete
        from moocactiviti.user
        where id = #{id}
    </delete>


    <select id="getAllUsers" resultType="java.util.HashMap">
        select id, name, username, roles, email, is_subscribe
        from moocactiviti.user
    </select>
    <select id="selectByUsername" resultType="com.imooc.activitiweb.pojo.UserInfoBean"
            parameterType="java.lang.String">
        select *
        from user
        where username = #{username}
    </select>
    <select id="getUserPartInfoByUsername" resultType="java.util.HashMap"
            parameterType="java.lang.String">
        select *
        from user
        where username = #{username}
    </select>

</mapper>